@import '~antd/dist/antd.css';

.login-form {
  max-width: 500px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

#normal_login {
  min-width: 270px;
}

.login-canvas {
  padding-top: 15vh;
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.App {
  background-color: #fafafa;
}
